<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<div class="author-detail">
    <%= render @author %>

    <div class="action-links">
        <%= link_to "Edit this author", edit_author_path(@author), class: "edit-link" %>
        <%= link_to "Back to authors", authors_path, class: "back-link" %>
        <%= button_to "Destroy this author", @author, method: :delete, class: "delete-button" %>
    </div>
</div>